dist: xenial
language: python
python:
  - '3.5'
  - '3.6'
  - '3.7'
cache: pip
install:
  - pip install pipenv
  - pipenv install --dev
script:
  - check-manifest --ignore tox.ini
  - flake8
  - python -m pytest -v --cov=pdf_statement_reader tests/
after_success:
  - coveralls