[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tabula-py = "==2.2.0"
pikepdf = "==2.11.4"
click = "==7.1.2"
pdf-statement-reader = {editable = true, path = "."}

[dev-packages]
ipykernel = "*"
setuptools = "*"
wheel = "*"
pytest = "*"
tox = "*"
twine = "*"
"flake8" = "*"
coverage = "*"
keyring = "*"
pytest-cov = "*"
coveralls = "*"
check-manifest = "*"
build = "*"

[requires]
python_version = "3.6"
